
<div>
<h1>
    Buscador
  </h1>
  <input class="form-control" type="text" name="search" [(ngModel)]="filter"> 
  <table class="table">
    <thead>
      <tr>
        <th (click)="ordenarPerNom()" >Artista</th>
        <th (click)="ordenarPerNom()">Canciom</th>
        <th (click)="ordenarPerNom()">album</th>
        <th (click)="ordenarPerNom()">Genero</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)= "anarDetall(i)" *ngFor="let alumne of alumnes| filter:filter; let i = index">
        
        <td>
          {{alumne.artista}}
        </td>
        <td>
            {{alumne.song}}
          </td>
        <td>
          {{alumne.album}}
        </td>
        <td>
            {{alumne.genero }}
          </td>
      </tr>
    </tbody>
  </table>


</div>
  
  