


<ul class="demo-3">
  <li>
      <figure>
        <img src="../assets/metallica.jpg" alt="" width="300" height="200" >
          <figcaption>
              <h2>..And Justice For All</h2>
              <p  (click)="playSong()">...And Justice for All es el cuarto álbum de estudio de la banda estadounidense de heavy metal Metallica, publicado el 25 de agosto de 1988 a través de Elektra Records en Norteamérica y por Vertigo Records en Europa.</p>
          </figcaption>
      </figure>
  </li>
</ul>


<ul class="demo-3">
  <li>
      <figure>
        <img src="../assets/monkeys.jpg" alt="" width="300" height="200" >
          <figcaption>
              <h2>AM</h2>
              <p (click)="playSong2()">AM es el quinto álbum de estudio de la banda inglesa de Indie Rock, Arctic Monkeys. Fue lanzado el 6 de septiembre de 2013, bajo el sello Domino Records.</p>
          </figcaption>
      </figure>
  </li>
</ul>

<ul class="demo-3">
  <li>
      <figure>
        <img src="../assets/sting.jpg" alt="" width="300" height="200" >
          <figcaption>
              <h2> Ten Summoner's Tale </h2>
              <p (click)="playSong3()">Ten Summoner's Tales is the fourth solo studio album by the English rock musician Sting. Released in 1993.</p>
          </figcaption>
      </figure>
  </li>
</ul>

<ul class="demo-3">
  <li>
      <figure>
        <img src="../assets/police.jpg" alt="" width="300" height="200" >
          <figcaption>
              <h2>Synchronicity</h2>
              <p (click)="playSong4()">Synchronicity is the fifth and final studio album by English rock band the Police, released in the United Kingdom on 17 June 1983.</p>
          </figcaption>
      </figure>
  </li>
</ul>